<div class="p-5 items-center justify-center font-serif m-auto max-w-[1400px]">
  <button
    class="ml-3 mt-3 text-blue-950 md:ml-10 md:mt-10"
    (click)="navigate()"
  ></button>
  <h1 class="font-bold text-center text-2xl lg:text-3xl p-3 mb-3">
    Astronomy Picture of the Day
  </h1>

  @if(apodData){
  <div class="rounded-lg shadow-lg lg:grid lg:grid-cols-2 items-center">
    <img
      class="w-full max-h-[560px]"
      [src]="apodData.url"
      alt="Astronomy Picture"
    />

    <div class="px-6 py-4 items-center">
      <div class="lg:font-bold text-xl mb-2">{{ apodData.title }}</div>

      <p class="text-gray-400 text-base">{{ apodData.date }}</p>

      <p class="text-gray-700 text-base">{{ apodData.explanation }}</p>
    </div>
  </div>
  }
</div>
